<!DOCTYPE html>
<html>
<head>
  <title>Jimmy</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if notice.present? %>
    <div class="alert alert-success">
      <strong>Notice!</strong>
      <%= notice %>
    </div>
  <% end %>
  <% if alert.present? %>
    <div class="alert alert-danger">
      <strong>Alert!</strong>
      <%= alert %>
    </div>
  <% end %>

  <div class="container">
    <%= link_to '回首頁', root_path, class: 'btn btn-danger' %>
    <% if user_signed_in? %>
      <%= "#{current_user.email} 你好!" %>
      <%= link_to '登出', destroy_user_session_path, method: 'DELETE', confirm: '確定登出', class: 'btn btn-danger' %>
    <% else %>
      <%= link_to '登入', new_user_session_path, class: 'btn btn-danger' %>
      <%= link_to '註冊', new_user_registration_path, class: 'btn btn-danger' %>
    <% end %>
    <div class="span12">
      <%= yield %>
    </div>
  </div>

</body>
</html>
